<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quizapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizApp">
        <activity android:name=".MainActivity2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity android:name=".QuizResult" />
        <activity android:name=".QuizQuestion10" />
        <activity android:name=".QuizQuestion09" />
        <activity android:name=".QuizQuestion08" />
        <activity android:name=".QuizQuestion07" />
        <activity android:name=".QuizQuestion06" />
        <activity android:name=".QuizQuestion01" />
        <activity android:name=".QuizQuestion05" />
        <activity android:name=".QuizQuestion04" />
        <activity android:name=".QuizQuestion03" />
        <activity android:name=".QuizQuestion02" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>